---
import Layout from "../layouts/Layout.astro";
import ExampleBlock from "../components/ExampleBlock.astro";

const themes = ["heatmap"];
---

<Layout title="Themes">
    <div class="wrapper">
        <div class="light">
            {themes.map((theme) => <ExampleBlock theme={`${theme}__light`} />)}
        </div>
        <div class="transition"></div>
        <div class="dark">
            {themes.map((theme) => <ExampleBlock theme={`${theme}__dark`} />)}
        </div>
    </div>
</Layout>

<style lang="scss">
    $t: 2rem;
    .wrapper {
        display: grid;
        grid-template-columns: 1fr $t 1fr;
        justify-content: center;
        height: 100%;
    }

    .light,
    .dark {
        padding: 1rem;
    }

    .transition {
        background: linear-gradient(to right, #f0f0f0, #000);
        width: $t;
    }

    .light {
        background-color: #f0f0f0;
    }
    .dark {
        background-color: #000;
    }
</style>
